@font-face {
    font-family: 'Fate Core';
    src: url('../../fonts/fatecorefont.ttf');
}

r { /* dice rolls */
  font-family: 'Fate Core';
}

s { /* stress boxes */
  display: inline-block;
  border: 2px solid;
  padding: 1px;
  margin: 2px;
  height: 18px;
  width: 18px;
  line-height: 12px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

t { /* aspects */
  font-variant: small-caps;
  font-weight: bold;
  font-size: 0.9em;
}