@font-face {
    font-family: 'Fate Core';
    src: url('../../fonts/fatecorefont.ttf');
}

r {
  font-family: 'Fate Core';
}

t {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.1em;
}

s {
  display: inline-block;
  border: 2px solid;
  padding: 1px;
  margin: 0;
  height: 18px;
  width: 18px;
  line-height: 12px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
