@font-face {
    font-family: 'Fate Core';
    src: url('../fonts/fatecorefont.ttf');
}

r {
  font-family: 'Fate Core';
}

t {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.1em;
}

s {
  display: inline-block;
  border: 2px solid;
  padding: 1px;
  margin: 2px;
  height: 17px;
  width: 17px;
  line-height: 17px;
  font-size: 17px;
  text-align: center;
  /*font-family: var(--sans-font);*/
  font-weight: bold;
}
